<section>
  <h2>Create New Blog Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <input id="post-content" name="post-content" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- if user has posts, create them here --}}
{{#if posts.length}}
<section>
  <h2>Your Blog Posts</h2>
  <ol>
    {{#each posts as |post|}}
     <li>
    <article class="post">
      <div class="title">
        <a href="dashboard/edit/{{post.id}}">{{post.title}}</a>
      </div>
      <div>
        {{format_date created_at}}
      </div>
    </article>
  </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/create-post.js"></script>
